<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Superhero Hub - Heroes</title>
    <link rel="stylesheet" href="/static/superheroes.css">
</head>
<body>
    <nav id="nav-bar">
        <ul id="list-tab">
            <li ><a id="list-tab" href="/">Home</a></li> 
            <li><a id="list-tab" href="/logout">Logout ({{ username }})</a></li>
        </ul>
    </nav>
    <div class="superheroes-container">
        <h2>Hello, {{ username }}!</h2>
        <h3>Superheroes</h3>
        <div id="heroes">
        <ul>
            {% for hero in heroes %}
                <li class="hero-tab">
                    <h4>{{ hero.name }}</h4>
                    <img src="{{ hero.image_url }}" alt="{{ hero.name }}">
                    <p>{{ hero.description }}</p>
                    <a href="/superhero/{{ hero.id }}">Learn More</a>
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <footer><p id="d-design">Desined By Michael Olamilehin</p></footer>
    <script src="/static/script.js"></script>
</body>
</html>