* {
    margin:0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background: linear-gradient(to right,rgb(13, 33, 77),rgb(21, 124, 221));
    color: white;
    text-align: center;
}

#nav-bar {
    background: rgb(6, 35, 112);
    border-bottom: 1px solid white;
    padding-bottom:15px;
    padding-top:15px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
a {
    text-decoration: none;
    color: white;
    font-size:15px;
    transition: color 0.2s ease-in-out;
    margin-left: -20px;
    font-weight:bold;
}
a:hover {
    color:rgb(237, 209, 27);
}

h2 {
    color: rgb(239, 194, 32);
    background-color: rgb(10, 60, 151);
    padding:20px;
    font-size:50px;

}

#h-tab {
    background-color:rgb(9, 86, 202) ;
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

img {
    height: 330px;
    width:  300px;
    border-radius: 20%;
    
    margin-top: 15px;
    margin-left: 25px;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);

}

#hero-desc{
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
}

#abt-hero{
    background-color: black;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    
}
h3{
    color: white;
    padding:20px;
    font-size:30px;
    margin-bottom: 30px;
}

iframe{
    border-radius: 15px;
    height: 500px;
    margin-bottom: 30px;
}

footer{
    background-color: red;
}

#d-design {
    color: white;
    font-size: 20px;
    padding:30px;
}

#heroes-ul {
    text-align:center;
    font-weight:bold;
    background-color:rgb(97, 2, 2);
    padding:20px;
    color:white;
}



#link-heroes-dc {
    text-decoration:none;  
    color:grey;
    transition:color 0.2s ease-in-out;
}

#link-heroes-marvel {
    text-decoration:none;  
    color:grey;
    transition:color 0.2s ease-in-out;
}

#link-heroes-dc:hover{
    color:rgb(17, 39, 138);
}

#link-heroes-marvel:hover{
    color:rgb(189, 177, 16);
}