<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Superhero Hub - {{ hero.name }}</title>
    <link rel="stylesheet" href="/static/hero_detail.css">
</head>
<body>
    <header>
        <nav id="nav-bar">
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/superheroes">Heroes</a></li>
            <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <h2>{{ hero.name }}</h2>
    <img src="{{ hero.image_url }}" alt="{{ hero.name }}" width="200">
    <p id="hero-desc">{{ hero.description }}</p>
    <div id="abt-hero">
    <h3>Watch a Video</h3>
    <iframe width="560" height="315" src="{{ hero.video_url }}" frameborder="0" allowfullscreen></iframe>
          <!--<video width="640" height="480" controls>
        <source src="videoplayback.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>-->
      </div>
      <footer><p id="d-design">Designed By Michael Olamilehin</p></footer>
    <script src="/static/script.js"></script>
</body>
</html>