<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Heropedia</title>
</head>
<body id="i-body">
    <header>
        <nav id="nav-bar">
            <p>Heropedia</p>
        </nav>
    </header>
    <div id="id-div"><img class="pic"src="/static/images/marvel.jpg" alt="Marvel logo">
    <img id="dc-pic"class="pic"src="/static/images/dc.jpg" alt="Marvel logo"></div>
    <div id="div-btn"><button><a href="/login">Continue</a></button></div>
</body>
</html>